$color-main: rgb(35, 35, 35);

.cart{
    display: grid;
    overflow: hidden;
    background: #fff;
    margin: 1.5rem 0;
    margin-left: 8.7rem;
    margin-right: 1rem;
    max-width: 85rem;
    min-height: 80vh;
    box-shadow: 0 0 40px rgba(0,0,0,0.03);
    border-radius: 10px;
    color: $color-main;
    padding: 1rem;
    font-family: 'Roboto',sans-serif;
    position: relative;
    h1{
      margin-left: 1rem;
      margin-top: 1rem;
    }
    #emptyBasket{
      // display: none;
      margin: 5rem auto;
      color: rgba(68, 68, 68, 0.655);
      text-align: center;
      i{
        color: var(--theme-color);
        display: block;
        font-size: 8rem;
      }
    }
    .btns-card{
      display: flex;
      width: 100%;
      button:first-child{
        width: 30%;
        border-radius: 20px 0 0 20px;
        border: 0;
        cursor: pointer;
        background-color: #d12424;
        font-size: 1.4rem;
        color: #fff;
      }
      button:last-child{
        width: 75%;
        border-radius: 0 20px 20px 0;
      }
    }
  }