$color-main: rgb(35, 35, 35);

:root{
    --swiper-theme-color:rgb(252, 185, 0);
}

.content{
    overflow: hidden;
    background: #fff;
    margin: 1.5rem 0;
    margin-left: 8.7rem;
    margin-right: 1rem;
    max-width: 85rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.03);
    border-radius: 10px;
    color: $color-main;
  }

.swiper {
    position: relative;
    width: 100%;
    height: 75vh;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
  }

  .box-top{
    width: 100%;
    margin-bottom: 1rem;
  }

  .box-bottom{
    width: 100%;
    margin-top: 6rem;
    h1{
      margin-left: 4rem;
    }
  }

  @import url(https://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {
  text-align: center;
  width: 100%;
  margin: 2.5rem 0;
}

.webdesigntuts-workshop:after {
  content: '';
  display: block; 
  height: 1px;
  width: 100%;
  background: $color-main;
  background: #f1f3f5;  
  margin-top:-1.1rem;
}


.webdesigntuts-workshop form {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
  background: #f1f3f5;
  border-radius: 5px;
  display: inline-block;
  font-size: 0px;
  padding: 20px;
  position: relative;
  top: 1.5rem;
  z-index: 1;
}

.webdesigntuts-workshop form div{
  background: var(--theme-color);  
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 var(--theme-color);
  display: block;
  float: left;
  height: 40px;
  width: 200px;
  overflow: hidden;
}
.webdesigntuts-workshop form ul{
  display: none;
  position: absolute;
  background: var(--theme-color);  
  width: 200px;
  top: 3.8rem;
  z-index: 5;
  border-radius: 0 0 5px 5px;
  li{
  z-index: 5;
    color: $color-main;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    list-style-type: none;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid rgba(114, 114, 114, 0.683);
  }
  li:last-child{
    border-bottom: 0;
  }
}

.webdesigntuts-workshop input {
  border: 0;
  background: transparent;  
  width: 100%;
  height: 45px;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
  color: $color-main;
  &::selection{
    background-color: rgb(139, 108, 17);
    color: $color-main;
  }
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: rgba(70, 70, 70, 0.795);
}

.webdesigntuts-workshop input:focus {
  outline: none;
}

.webdesigntuts-workshop button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: var(--theme-color);
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 80px;
  cursor: pointer;
} 

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  outline: none;
}

.webdesigntuts-workshop button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}


.webdesigntuts-workshop input[type="search" i]::-webkit-search-cancel-button {
  background-image: linear-gradient(#000,#fff);
  cursor: pointer;
  appearance: none;
}

.swiper-pagination-bullet{
  background: #fff;
}
.swiper-pagination-bullet-active{
  background: var(--theme-color);
}