$button-color: rgb(35, 35, 35);

#modalContainer {
	z-index: 3;
	position: fixed;
	bottom: 0;
	left: 1rem;
	.modal-content {
		border-radius: 0.5rem;
        margin-bottom: 15px;
		box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
        // direction: rtl;
		animation: animatetop 1s;
        overflow: hidden;
		display: flex;
		justify-content: space-between;
		padding: 15px 15px;
		text-align: justify;
		font-size: 95%;
		font-weight: bold;
		i{
			margin-right: 0.5rem;
			font-size: 99%;
		}
    }
}

@keyframes animatetop {
    0% {
      margin-bottom: -500px;
      opacity: 0;
    }
    100% {
      margin-bottom: 15px;
      opacity: 1;
    }
}