.icon-password{
    position: absolute;
    top: 50%;
    right: 20px;
    color: #999999;
    font-size: 19px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}
  
#alertpass{
    display: none;	
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: 5;
    color: rgb(187, 0, 0);
    font-size: 0.7rem;
    animation: shake 0.5s ease-in-out ;
    animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation-iteration-count: 1.5;
    transition: all 1s;
}

#alertlpass{
    display: none;
    text-align: center;
    color: rgb(187, 0, 0);
    font-size: 0.8rem;
    animation: shake 0.5s ease-in-out ;
    animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation-iteration-count: 1.5;
    transition: all 1s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}